/*
/////////////////////////////////////////////
///////////GLOBAL STYLES/////////////////////
///////////////////////////////////////////
*/
.hidden {
    display: none;
}

.btn-primary {
    background-color: #5A53EA !important; 
}

.btn-primary:hover {
    background-color: rgb(41, 31, 236) !important;
}

body {
    background-color: white;
}

/*
/////////////////////////////////////////////
////////////////NAVBAR STYLES///////////////
///////////////////////////////////////////
*/
nav {
    background-color: #B4B1EE;
    height: 65px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-brand {
    color: black !important;
    font-size: 35px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.61) !important;
}

.nav-link:hover {
    color: black !important;
}

.active-link {
    color: black !important;
}

nav.scrolled {
    background-color: #5A53EA;
    height: 75px;
}

.navbar-brand.scrolled {
    color: #F4F5F4 !important;
}

.nav-link.scrolled {
    color: rgba(255, 255, 255, 0.548) !important;
}

.nav-link.scrolled:hover {
    color: white !important;
}

.active-link.scrolled {
    color: white !important;
}

/*
/////////////////////////////////////////////
/////////////CONTENT STYLES/////////////////
///////////////////////////////////////////
*/
#content-wrapper {
    margin-top: 55px;
}

hr {
    border: .5px solid #B4B1EE;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/*
/////////////////////////////////////////////
////////////////HOME STYLES/////////////////
///////////////////////////////////////////
*/
.jumbotron {
    background-color: #B4B1EE;
    height: 600px;
}

#home-content {
    color: #F4F4EE;
    text-align: center;
    margin-top: 3%;
}

#jquery-logo {
    height: 30%;
    margin-top: 1%;
    width: 30%;
}

.lead {
    margin-bottom: 0;
}

/*
/////////////////////////////////////////////
////////////////DEMO STYLES/////////////////
///////////////////////////////////////////
*/
#demo-wrapper {
    color: #5A53EA;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.label {
    font-size: 16px;
    font-weight: 500;
}

.crossover-box {
    color: #5A53EA;
    height: 300px !important;
}

.crossover-btn {
    margin-left: 15%;
    width: 100px;
}

#crossover-btn-add {
    margin-bottom: 5%;
    margin-top: 80%;
}

.row {
    margin-top: 1rem;
}

#add-new-item-btn {
    margin-top: 20%;
    width: 100px;
}

/*
/////////////////////////////////////////////
////////////////CODE STYLES/////////////////
///////////////////////////////////////////
*/

#code-wrapper {
    margin-top: 8rem;
    margin-bottom: 8rem;

}
.card-header {
    background-color: #083568;
    color: white;
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-text {
    margin-top: 5px;
}

/*
/////////////////////////////////////////////
//////////////FOOTER STYLES/////////////////
///////////////////////////////////////////
*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#page-wrapper {
    min-height: 100%;
}

#main-content {
    overflow: auto;
    padding-bottom: 200px;
}

#footer-wrapper {
    background-color: #B4B1EE;
    height: 200px;
    margin-top: -200px;
    position: relative;
    clear: both;
}

#footer-container {
    color: #5A53EA;
    padding-top: 30px;
    text-align: center;
}

#footer-col {
    padding: 0 !important;
}

.footer-icon {
    color: #5A53EA;
    font-size: 50px;
    transition: all ease-in-out 300ms;
}

.footer-icon:hover {
    cursor: pointer;
}